* {
	background: black;
	color: white;
	font-family: 'Open Sans', sans-serif;
}
.altFont {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	left: 20px;
}
.container {
	position: absolute;
	top: 0;
	bottom: 0;	
	right: 0;
	left: 0;
	width: 100%;
}
.navBar {
	color: white;
}
.navLink {
	color: white;
	text-decoration: none;
}
.navLink:hover {
	color: white;
	text-decoration: underline;
}
h1 {
	color: white;
}
.center {
	text-align: center;
}
.center1 {
	transform: translate(50%);
	
}
.pink {
	color: #F42684;
}
.link {
	color: #F42684;
	text-decoration: none;
}
.link:hover {
	color: #F42684;
	text-decoration: underline;
}
.link:visited {
	color: #F42684;
	text-decoration: none;
}
ul > li {
	list-style: none;
}
.lAlign {
	text-align: left;
	transform: translate(32%);
}
.transform {
	width: 25%;
	transform: translate(20%);
}
.transform2 {
	transform: translate(25%, 50%);
}
.transform3 {
	transform: translate(75%, 100%);
}
.bump {
	padding-left: 30px;
}
.bump2 {
	margin-left: 30px;
}