<div>
	<h3>{{thisOrder.date}}, {{thisOrder.restaurant}}, {{thisOrder.name}}</h3>
	<h5 class="navLink"><a href="{{thisOrder.website}}" class="navLink">See menu</a></h5>
	<h5 class="navLink"><a ng-href="#/" class="navLink">Return to order list</a></h5>
</div>

<div>
	<form ng-submit="addOrderItem()">
		<input ng-model="item" placeholder="Item">
		<input ng-model="cost" placeholder="Cost">
		<button>Add to order</button>
	</form>
</div>

<div ng-repeat="orderItem in orderItems">
	<input type="checkbox">{{orderItem.item}}, {{orderItem.cost}}, {{orderItem.name}} 
</div>

