<div class="row">
	<h3 class="center">{{thisOrder.date}}, {{thisOrder.restaurant}}, {{thisOrder.name}}</h3>
	<h5 class="center col-md-3 col-md-offset-3"><a href="{{thisOrder.website}}" class="link">See menu</a></h5>
	<h5 class="center col-md-3"><a ng-href="#/" class="link">Return to order list</a></h5>
	<div class="col-md-5"></div>
</div>

<div class="row">
	<form ng-submit="addOrderItem()" class="center">
		<input ng-model="item" placeholder="Item" class="bump2">
		<input ng-model="cost" placeholder="Cost" class="bump2">
		<button class="bump2">Add to order</button>
	</form>
</div>

<ol class="center">
	<li ng-repeat="orderItem in orderItems"> {{orderItem.item}}, {{orderItem.cost}}, {{orderItem.name}}</li>
</ol>

